<div class="container container-main" role="main">

    <div class="row">

        <side-bar-merchant></side-bar-merchant>

        <div class="col-sm-9 col-md-10 main">


            <h2>Accounts:</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Statement</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in accounts | filter: search">

                    <td><a href="#">{{account.accountType | uppercase}}</a></td>
                    <td>{{account.amount | currency }}</td>

                </tr>
                </tbody>
            </table>

        </div> <!-- /main -->

    </div> <!-- /row -->

</div> <!-- /container -->


