<div class="container container-main" role="main">

    <div class="row">

        <side-bar></side-bar>

        </div> <!-- sidebar -->

        <div class="col-sm-9 col-md-10 main">

            <div class="page-header">
                <h1>SBS MERCHANT HOME - Welcome ${User}</h1>
            </div>

            <h2>Accounts:</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Statement</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a title="Go to Account" href="#">${User}'s Checking Account (*1234)</a></td>
                    <td>$200.10</td>
                    <td><a href="">View Statement</a></td>
                </tr>
                <tr>
                    <td><a title="Go to Account" href="#">${User}'s Savings Account (*5678)</a></td>
                    <td>$7500.47</td>
                    <td><a href="">View Statement</a></td>
                </tr>
                </tbody>
            </table>

        </div> <!-- /main -->

    </div> <!-- /row -->

</div> <!-- /container -->


