
<div class="container container-main" role="main">

    <div class="row">

        <div class="btn-group" role="group">
            <button class="btn btn-success" onclick=window.history.back()>Go Back</button>
        </div>
        <div class="col-sm-9 col-md-10 main">

            <h2>List of Accounts : </h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Credit / Debit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in accounts | filter: search">

                    <td><a href="#">{{account.accountType | uppercase}}</a></td>
                    <td>{{account.amount | currency }}</td>
                    <td><a class="add-withdraw" href="">Add / Withdraw Funds</a></td>

                </tr>
                </tbody>
            </table>

            <div id="fund-transfer">
                <div class="modal-body">

                    <label>Select From Account Id:</label>
                     <select ng-model="selectedAccount" class="form-control">

                         <option value="" disabled selected>Select an Account</option>
                         <option ng-repeat="account in accounts" value={{selectedAccount=account.id}}>
                                    {{account.accountType | uppercase}} - {{account.id}}
                         </option>

                   </select>

                    <hr>
                    <p>
                        <label>Sender Account ID :</label>
                    <p><i> {{selectedAccount}} </i></p>
                    </p>
                    <hr>
                    <div>
                        <label>Select Nature of Transfer:</label><br>
                        <select class="form-control">
                            <option value="" disabled selected>Select an Option</option>
                            <option>Internal Transfer</option>
                            <option>External Transfer</option>
                        </select>
                    </div>
                    <br>
                    <div class="transfer-account-details">

                        <label>Enter Account ID of Receiver : </label><br>
                        <input type="text" ng-model="toAccountId" class="form-control" placeholder="13bbv3454545nbvb">
                        <br>

                        <label>Amount to be Transferred:</label>
                        <input type="text" ng-model="Amount" class="form-control" placeholder="0.00">
                        <br>

                    </div>

                    <p>
                        <label>Upload Security Token :</label>
                        <input type="file" class="form-control">
                    </p>
                    <p>
                        <label>One time password: <a href="" class="btn btn-xs btn-info">Generate OTP</a></label>
                        <input type="text" class="form-control">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="createTransaction(selectedAccount,toAccountId)" onclick=location.reload();>Transfer Funds</button>
                </div>
            </div><!-- /. -->

        </div> <!-- /main -->

    </div> <!-- /row -->

</div> <!-- /container -->

