<div class="container container-main" role="main">

    <div class="row">

        <div class="btn-group" role="group">
            <button class="btn btn-success" ng-click="goBack()">Go Back</button>
        </div>
        <div class="col-sm-9 col-md-10 main">

            <div class="page-header">
                <h1>User Payments</h1>
            </div>

            <h2>Make a quick payment to a merchant!</h2>

            <div id="payment">
                <p>
                    <label>Select Merchant:</label>
                    <select class="form-control">
                        <option>Select Merchant</option>
                        <option>Amazon.com</option>
                        <option>Google.com</option>
                        <option>Apple.com</option>
                    </select>
                </p>
                <hr>
                <p>
                    <label>Debit Account:</label>
                    <select class="form-control">
                        <option>Select an Account</option>
                        <option>${User}'s Checking Account (*1234)</option>
                        <option>${User}'s Savings Account (*5678)</option>
                    </select>
                </p>
                <p>
                    <label>Amount to be Transferred:</label>
                    <input type="text" class="form-control" placeholder="0.00">
                </p>
                <hr>
                <p>
                    <label>Upload Security Token :</label>
                    <input type="file" class="form-control">
                </p>
                <p>
                    <label>One time password: <a href="" class="btn btn-xs btn-info">Generate OTP</a></label>
                    <input type="text" class="form-control">
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Make Payment</button>
                </div>
            </div><!-- /payment -->

        </div> <!-- /main -->

    </div> <!-- /row -->

</div> <!-- /container -->

