<div class="container container-main" role="main">

    <div class="row">

        <div class="btn-group" role="group">
            <button ng-click="goBack()">Go Back</button>
        </div>
        <div class="col-sm-9 col-md-10 main">

            <div class="page-header">
                <h1>SBS User Bank Requests</h1>
            </div>

            <h2>Pending Bank Requests</h2>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="3">Request</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">Credit Transaction #46879 review request</a></td>
                    <td><button type="button" class="btn btn-success">Approve</button></td>
                    <td><button type="button" class="btn btn-info">Decline</button></td>
                </tr>
                <tr>
                    <td><a href="#">Debit Transaction #41121 review request</a></td>
                    <td><button type="button" class="btn btn-success">Approve</button></td>
                    <td><button type="button" class="btn btn-info">Decline</button></td>
                </tr>
                <tr>
                    <td><a href="#">Merchant Payment to Apple.com #7455 review request</a></td>
                    <td><button type="button" class="btn btn-success">Approve</button></td>
                    <td><button type="button" class="btn btn-info">Decline</button></td>
                </tr>
                </tbody>
            </table>


        </div> <!-- /main -->

    </div> <!-- /row -->

</div> <!-- /container -->
