<div class="container container-main" role="main">

    <div class="row">

        <div class="btn-group" role="group">
            <button class="btn btn-success" ng-click="goBack()">Go Back</button>
        </div>

        <div class="col-sm-9 col-md-10 main">

            <div class="page-header">
                <h1>Account Statements</h1>
            </div>



            <label>Select From Account Id:</label>
            <select ng-model="selectedAccount" class="form-control">

                <option value="" disabled selected>Select an Account</option>
                <option ng-repeat="account in accounts" value={{selectedAccount=account.id}}>
                    {{account.accountType | uppercase}} - {{account.id}}
                </option>

            </select>

            <table class="table">
                <thead>
                <tr>

                    <th>Transaction ID</th>
                    <th>Date</th>
                    <th>Amount</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in transactions | filter: search" class="transaction" ng-model="TransactionId">

                    <td><a href="#">{{transaction.transactionId}}</a></td>
                    <td>{{transaction.createdDate}}</td>
                    <td>{{transaction.amount | currency }}</td>
                    <td><button class="btn btn-success" value={{TransactionId=transaction.transactionId}} ng-click="approveTransaction(TransactionId)" onclick=location.reload();>Approve</button></td>
                    <td><button class="btn btn-danger" value={{TransactionId=transaction.transactionId}} ng-click="declineTransaction(TransactionId)" onclick=location.reload();>Decline</button></td>

                </tr>
                </tbody>
            </table>
            <hr>

            <h2>Statements:</h2>

            <div class="row">
                <div class="col-xs-4">
                    <label>Select an account:</label>
                    <select class="form-control">
                        <option>Checking Account *5959</option>
                    </select><br>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th colspan="3">Statements</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="70%"><a href="#">August 2015</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                <tr>
                    <td><a href="#">July 2015</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                <tr>
                    <td><a href="#">June 2015</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                <tr>
                    <td width="70%"><a href="#">May 2015</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                <tr>
                    <td><a href="#">April 2015</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                <tr>
                    <td><a href="#">March 2015</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                <tr>
                    <td width="70%"><a href="#">February 2015</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                <tr>
                    <td><a href="#">January 2015</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                <tr>
                    <td width="70%"><a href="#">December 2014</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                <tr>
                    <td><a href="#">November 2014</a></td>
                    <td class="center"><button type="button" class="btn btn-default">View</button></td>
                </tr>
                </tbody>
            </table>

            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>


        </div> <!-- /main -->

    </div> <!-- /row -->

</div> <!-- /container -->

