<div class="container container-main" role="main">

      <div class="row">

          <div class="btn-group" role="group">
              <button class="btn btn-success" onclick=window.history.back()>Go Back</button>
          </div>

        <div class="col-sm-9 col-md-10 main">

          <h2>Critical Transactions/Internal Employee Transaction Requests</h2>
		  <br>

            <table class="table">
                <thead>
                <tr>

                    <th>Transaction ID</th>
                    <th>Date</th>
                    <th>Amount</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in transactions | filter: search |filter:filterManager" class="transaction" ng-model="TransactionId">

                    <td><a href="#">{{transaction.transactionId}}</a></td>
                    <td>{{transaction.createdDate}}</td>
                    <td>{{transaction.amount | currency }}</td>
                    <td><button class="btn btn-success" value={{TransactionId=transaction.transactionId}} ng-click="approveTransaction(TransactionId)" onclick=location.reload();>Approve</button></td>
                    <td><button class="btn btn-danger" value={{TransactionId=transaction.transactionId}} ng-click="declineTransaction(TransactionId)" onclick=location.reload();>Decline</button></td>

                </tr>
                </tbody>
            </table>

        </div> <!-- /main -->

      </div> <!-- /row -->

    </div> <!-- /container -->
