<div class="container container-main" role="main">

      <div class="row">

          <div class="btn-group" role="group">
              <button class="btn btn-success" ng-click="goBack()">Go Back</button>
          </div>

        <div class="col-sm-9 col-md-10 main">

          <h2>Critical Transactions:</h2>
		  <br>

          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
				<th>Account No.</th>
                <th>Transaction ID</th>
			    <th>Amount</th>
              	<th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a title="Go to Account" href="#">Jack Doe</a></td>
                <td>123456789</td>
				<td>1234567890987654321</td>
				<td>$2000.50</td>
				<td>09/09/2015</td>
                <td><button type="button" class="btn btn-success">Approve</button></td>
				<td><button type="button" class="btn btn-danger">Decline</button></td>
              </tr>
              <tr>
                <td><a title="Go to Account" href="#">Prashanth Murali</a></td>
                <td>987654321</td>
				<td>9876543210123456789</td>
				<td>$7712.43</td>
				<td>01/10/2015</td>
                <td><button type="button" class="btn btn-success">Approve</button></td>
				<td><button type="button" class="btn btn-danger">Decline</button></td>
              </tr>
            </tbody>
          </table>

        </div> <!-- /main -->

      </div> <!-- /row -->

    </div> <!-- /container -->
