<div class="container container-main" role="main">

    <div class="row">

        <side-bar></side-bar>

        <div class="col-sm-9 col-md-10 main">

            <div class="page-header">
                <h1>SBS - Welcome James </h1>
            </div>

            <h2>Search By:</h2>
            <br>

            <div id="payment">
                <p>
                    <label>Customer ID:</label>
                    <input type="text" class="form-control" placeholder="ex: 123456789">
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Search</button>
                </div>


                <p>
                    <label>Transaction ID:</label>
                    <input type="text" class="form-control" placeholder="ex: 9876543210123456789">
                </p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Search</button>
                </div>
            </div><!-- /payment -->

        </div> <!-- /main -->

    </div> <!-- /row -->

</div> <!-- /container -->
