<div class="col-sm-9 col-md-10 main">
        <!--create form/ -->
        <p>
        <h2>Search User</h2>
        <label>Search:</label>
        <input type="text" class="form-control" placeholder="ex: a.willis" ng-model="search">
        </p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>User Type</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users | filter: search">
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.type}}</td>
                <td><button type="button" class="btn btn-primary" ng-click="editUser(user)">Edit</button></td>
                <td><button type="button" class="btn btn-danger" ng-click="deleteUser(user)">Delete</button></td>
            </tr>
            </tbody>
        </table>

    </div><!-- /payment -->

</div> <!-- /main -->
