
<div class="container container-main" role="main">

    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">

          <ul class="nav nav-sidebar">
                 <li><a href="#">Home</a></li>
                 <li><a ui-sref="manage_employee">Manage Employees</a></li>
                 <li><a ui-sref="system_log">System Log</a></li>
                 <li><a ui-sref="pending_requests">Pending Requests</a></li>
                 <li><a ui-sref="settings_internal">Settings</a></li>
                 <li><a ui-sref="home">Logout</a></li>
           </ul>

        </div> <!-- sidebar -->

        <div class="col-sm-9 col-md-10 main">

            <div class="page-header">
                <h1>SBS - Welcome </h1>
            </div>

            <h2>Critical Transactions:</h2>
            <br>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Account No.</th>
                    <th>Transaction ID</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a title="Go to Account" href="#">Jack Daniels</a></td>
                    <td>123456789</td>
                    <td>1234567890987654321</td>
                    <td>$2000.50</td>
                    <td>09/09/2015</td>
                    <td><button type="button" class="btn btn-success">Approve</button></td>
                    <td><button type="button" class="btn btn-danger">Decline</button></td>
                </tr>
                <tr>
                    <td><a title="Go to Account" href="#">bla Kumar</a></td>
                    <td>987654321</td>
                    <td>9876543210123456789</td>
                    <td>$7712.43</td>
                    <td>01/10/2015</td>
                    <td><button type="button" class="btn btn-success">Approve</button></td>
                    <td><button type="button" class="btn btn-danger">Decline</button></td>
                </tr>
                </tbody>
            </table>

        </div> <!-- /main -->

    </div> <!-- /row -->

</div> <!-- /container -->
