
<div class="container container-main" role="main">

    <div class="row">

        <div class="col-sm-9 col-md-10 main">

            <h3>Select a User </h3>

            <div id="fund-transfer">

                <h3>User Details </h3>

                <label>User Id : </label><br>
                <p><i>{{individual.id}}</i></p>
                <br>
                <label>Name : </label><br>
                <input type="text" class="form-control" ng-model="individual.name">
                <br>
                <label>Address : </label><br>
                <input type="text" class="form-control" ng-model="individual.address">
                <br>
                <label>Phone Number : </label><br>
                <input type="text" class="form-control" ng-model="individual.phoneNumber">
                <br>
                <label>Type : </label><br>

                <select ng-model="individual.type" class="form-control">

                    <option value="" disabled selected>{{individual.type}}</option>
                    <option>administrator</option>
                    <option>tier2</option>
                    <option>tier1</option>
                    <option>consumer</option>
                    <option>merchant</option>
                </select>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="update(individual.address,individual.email,individual.id,individual.name,individual.password,individual.phoneNumber,individual.type,individual.username)">Update</button>
                </div>


            </div><!-- /. -->

        </div> <!-- /main -->

    </div> <!-- /row -->

</div> <!-- /container -->

