<div class="container container-main" role="main">

    <div class="row">

        <div class="btn-group" role="group">
            <button class="btn btn-success" ng-click="goBack()">Go Back</button>
        </div>

        <div class="col-sm-9 col-md-10 main">

            <div class="page-header">


                <h2>System Log:</h2>
                <br>

                <div id="payment">
                    <textarea rows="4" cols="50" style="width: 100%" ng-model="logFileContent">
                    At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. </textarea>

                </div><!-- /payment -->

            </div> <!-- /main -->

        </div> <!-- /row -->

    </div> <!-- /container -->
</div>