<div class="container container-main" role="main">

    <div class="row">

        <side-bar-admin></side-bar-admin>

        <div class="col-sm-9 col-md-10 main">

            <div class="page-header">
                <h1>SBS - Welcome Chris Lang</h1>

                <h2>System Log:</h2>
                <br>

                <div id="payment">
                    <p>
                        <label>Filter By:</label>
                    </p>
                    <select class="form-control">
                        <option>Time</option>
                        <option>Transactions</option>
                        <option>Employees</option>
                    </select>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Search</button>
                    </div>


                </div><!-- /payment -->

            </div> <!-- /main -->

        </div> <!-- /row -->

    </div> <!-- /container -->
</div>