<div class="container-fluid login-wrap">
    <div class="container">

        <form class="form-signin">
            <h3>Enter One Time Password(OTP)</h3>
            <label for="inputPassword" class="sr-only">One Time Password(OTP):</label>
            <input type='password' ng-model="otp" ng-virtual-keyboard/>
            <button class="btn btn-lg btn-primary btn-block" type="button" ng-click="validateOtp($scope.email,$scope.password,otp,$scope.user);">Sign in</button>
        </form>
    </div>
</div>

