<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a ui-sref="internal_emp_transactions">Internal Transactions Employee</a></li>
        <li><a ui-sref="pending_requests">Pending Requests</a></li>
        <li><a ui-sref="request_admin">Request Admin</a></li>
        <li><a ui-sref="request_manager">Request Manager</a></li>
        <li><a ui-sref="create_user">Create User</a></li>
        <li><a ui-sref="home" ng-click="logout()">Logout</a></li>
    </ul>
</div> <!-- sidebar -->


