<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a ui-sref="credit_debit">Credit/Debit</a></li>
        <li><a ui-sref="fund_transfer_external_user">Fund Transfer</a></li>
        <li><a ui-sref="payments_external_user">Payments User</a></li>
        <li><a ui-sref="statements_external_user">Statements</a></li>
        <li><a ui-sref="settings_ext_customer">Settings External</a></li>
        <li><a ui-sref="home">Logout</a></li>
    </ul>
</div> <!-- sidebar -->
