<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a ui-sref="internal_emp_transactions">Internal Transactions Employee</a></li>
        <li><a ui-sref="edit_users_employee">Edit Users</a></li>
        <li><a ui-sref="create_user">Create User</a></li>
        <li><a ui-sref="create_account">Create Account</a></li>
        <li><a ui-sref="settings_internal">Settings</a></li>
        <li><a ui-sref="home" ng-click="logout()">Logout</a></li>
    </ul>
</div> <!-- sidebar -->


