<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a ui-sref="credit_debit">Credit/Debit</a></li>
        <li><a ui-sref="critical_transactions">Critical Transactions</a></li>
        <li><a ui-sref="edit_users">Edit Users</a></li>
        <li><a ui-sref="fund_transfer_external_user">Fund Transfer</a></li>
        <li><a ui-sref="internal_emp_transactions">Internal Transactions Employee</a></li>
        <li><a ui-sref="internal_mgr_transactions">Internal Transactions Manager</a></li>
        <li><a ui-sref="manage_employee">Manage Employees</a></li>
        <li><a ui-sref="pending_requests">Pending Requests</a></li>
        <li><a ui-sref="payments_external_user">Payments User</a></li>
        <li><a ui-sref="requests_to_merchant">Merchant Requests</a></li>
        <li><a ui-sref="request_admin">Request Admin</a></li>
        <li><a ui-sref="request_manager">Request Manager</a></li>
        <li><a ui-sref="system_log">System Log</a></li>
        <li><a ui-sref="statements_external_user">Statements</a></li>
        <li><a ui-sref="settings_internal">Settings Internal</a></li>
        <li><a ui-sref="settings_ext_customer">Settings External</a></li>
        <li><a ui-sref="home">Logout</a></li>
    </ul>
</div> <!-- sidebar -->


